<md-card>

  <md-card-title>
    Add Rower
  </md-card-title>

  <form #f="ngForm"
        (ngSubmit)=onSubmit(f.value)>

    <md-card-content>


      <div>
        <md-input-container>
          <input mdInput
                 placeholder="First Name"
                 type="text"
                 name="firstName"
                 ngModel>
        </md-input-container>
      </div>

      <div>
        <md-input-container>
          <input mdInput placeholder="Last Name">
        </md-input-container>
      </div>

      <div>
        <md-input-container>
          <input mdInput placeholder="age">
        </md-input-container>
      </div>

      <div>
        <md-input-container>
          <input mdInput placeholder="weight">
        </md-input-container>
      </div>

      <div>
        <md-select placeholder="Side">
          <md-option *ngFor="let side of sides" [value]="side">
            {{ side }}
          </md-option>
        </md-select>
      </div>

      </md-card-content>

      <md-card-actions>
        <button md-raised-button type="submit">Add Rower</button>
        <button md-raised-button routerLink="../">Cancel</button>
      </md-card-actions>

    </form>

</md-card>
