<div fxLayout="column"
     class="dashboard-container">

  <md-toolbar color="primary"
               class="mat-elevation-z6">
    <button md-icon-button
            type="button"
            (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <span>
      Dragonboat Team Management App
    </span>
  </md-toolbar>

  <div fxFlex class="dashboard-content-container">

    <md-sidenav-container>

        <md-sidenav #sidenav
                    mode="over">
          <app-side-nav></app-side-nav>
        </md-sidenav>

        <div class="router-footer">
          <div class="dashboard-router-outlet">
            <router-outlet>
            </router-outlet>
          </div>
        <md-toolbar class="mat-elevation-z"
                    color="primary">
          <h4> Footer </h4>
        </md-toolbar>
        </div>

    </md-sidenav-container>

  </div>
</div>

<!--
<div fxLayout="column"
     class="background-container">
  <div class="header">header</div>
  <div fxFlex fxLayout class=content-container>
    <div fxFlex class="sidebar">Some sidebar</div>
    <div fxFlex class="content">
      <md-card>asdf</md-card>
      <md-card>sdfasdklfjh</md-card>
      <md-card>sdalksdfjh</md-card>
      <md-card>sdalksdfjh</md-card>
      <md-card>sdalksdfjh</md-card>
      <md-card>sdalksdfjh</md-card>
      <md-card>sdalksdfjh</md-card>
      <md-card>sdalksdfjh</md-card>
      <md-card>sdalksdfjh</md-card>
      <md-card>sdalksdfjh</md-card>
      <md-card>sdalksdfjh</md-card>
      <md-card>sdalksdfjh</md-card>
      <md-card>sdalksdfjh</md-card>
    </div>
  </div>
  <div class="footer">
    The Foot... errr
  </div>
</div>
-->