<nav>
  <md-list class="sidenav-menu-container">
    <h3 md-subheader>Dashboard</h3>
    <md-list-item>
      <a routerLink="rower">Rowers</a>
    </md-list-item>
    <md-list-item>
      <a routerLink="rower">Trainings</a>
    </md-list-item>
    <md-list-item>
      <a routerLink="rower">About</a>
    </md-list-item>
    <md-list-item>
      <a routerLink="rower">About</a>
    </md-list-item>
    <md-list-item>
      <a routerLink="rower">About</a>
    </md-list-item>
    <md-list-item>
      <a routerLink="rower">About</a>
    </md-list-item>
    <md-list-item>
      <a routerLink="rower">About</a>
    </md-list-item>
    <md-list-item>
      <a routerLink="rower">About</a>
    </md-list-item>
    <md-list-item>
      <a routerLink="rower">About</a>
    </md-list-item>
    <md-list-item>
      <a routerLink="rower">About</a>
    </md-list-item>
    <md-list-item>
      <a routerLink="rower">About</a>
    </md-list-item>
  </md-list>
</nav>